<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>扫描报表</title>
    <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;height:100%;}</style>
    <style>
    </style>
</head>
<body>
    <h1>业务仓库</h1>
    <div class="link">
        <% for(var i = 0; i < links.length; i++) {%>
        <p>
            <a href="/report/<%= links[i]%>"><%= links[i]%></a>
            <span>（最新日志 </span>
            <a style="font-size: 12px" href="/api/<%= links[i]%>.log">查看</a>
            <a style="font-size: 12px" href="/api/<%= links[i]%>.log" download>下载</a>
            <span>）</span>
        </p>
        <% } %>
    </div>
</body>
</html>
