<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height">
  <title>报表邮件</title>
  <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;height:100%;}</style>
  <style>
  </style>
</head>
<body>
<h1>业务仓库扫描报告</h1>
<div class="link">
  <% for(var i = 0; i < data.length; i++) {%>
  <p>
    <span><%= data[i]['name']%></span>
    <span>（今天error：</span>
    <span><%= data[i]['today']%></span>
    <span>------</span>
    <span>昨天error：</span>
    <span><%= data[i]['yesterday']%>）</span>
  </p>
  <% } %>
</div>
</body>
</html>
