<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height">
  <title>邮件报表</title>
  <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;height:100%;}</style>
  <style>
    .line {
      margin: 0;
      padding: 10px 0;
    }
    .line:nth-child(2n){
      background-color: #f5f5f5;
    }
    .name {
      display: inline-block;
      min-width: 220px;
    }
    .item {
      display: inline-block;
      min-width: 200px;
    }
    .more {
      display: inline-block;
      margin-top: 40px;
    }
  </style>
</head>
<body>
<h1>业务仓库扫描报告</h1>
<div class="link">
  <% for(var i = 0; i < data.length; i++) {%>
  <p class="line">
    <span class="name"><%= data[i]['name']%></span>
    <span class="item">
      <span>（今天error：</span>
      <span class="number"><%= (typeof data[i]['errorData'][0] === 'number') ? data[i]['errorData'][0] : '无扫描数据'%>）</span>
    </span>
    <span class="item">
      <span>（昨天error：</span>
      <span class="number"><%= (typeof data[i]['errorData'][1] === 'number') ? data[i]['errorData'][1] : '无扫描数据'%>）</span>
    </span>
    <span class="item">
      <span>（前天error：</span>
      <span class="number"><%= (typeof data[i]['errorData'][2] === 'number') ? data[i]['errorData'][2] : '无扫描数据'%>）</span>
    </span>
  </p>
  <% } %>
  <a class="more" href="http://192.168.60.253:8909/">查看更多详情</a>
</div>
</body>
</html>
